.h3-padding {
    padding-bottom: 20px;
    line-height: 1.2;
}

.design-cards-container {
    display: flex;
    flex-direction: row;
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 var(--default-page-padding) 50px var(--default-page-padding);
}

.design-cards-container section:last-of-type {
    margin-right: 0;
}

.design-cards-container div:last-of-type {
    margin-right: 0;
}

.design-card {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-gray-accent);
    margin-right: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.first-card {
    width: 40%;
}

.second-card {
    width: 60%;
}

.secondary-font {
    font-family: var(--secondary-font);
    font-size: 0.82em;
    line-height: 1.6;
}

.secondary-font-bold {
    font-family: var(--secondary-font-bold);
    font-size: 0.82em;
    line-height: 1.6;
}

.secondary-font-link {
    font-family: var(--secondary-font);
    font-size: 0.82em;
    text-decoration: underline;
    color: var(--color-green);
    line-height: 1.6;
}

.secondary-font-link-no-font-size {
    font-family: var(--secondary-font);
    text-decoration: underline;
    color: var(--color-green);
    line-height: 1.6;
}

.dash-regular-weight {
    font-family: var(--secondary-font);
    padding-right: 10px;
}

.last-line {
    line-height: 0;
}

.h5-padding {
    padding-bottom: 20px;
}

.vertical-title-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-gray-accent);
    margin-right: 25px;
    padding: 30px;
}

.remove-padding-bottom {
    padding-bottom: 0;
}

@media only screen and (max-width: 960px) {
    .responsive-list {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 750px) {
    .design-cards-container {
        display: flex;
        flex-direction: column;
        max-width: 1152px;
        margin: 0 auto;
        padding: 0 var(--default-page-padding) 25px var(--default-page-padding);
    }

    .design-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .design-cards-container div:last-of-type {
        margin-bottom: 0;
    }

    .vertical-title-container {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .design-cards-container section:last-of-type {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    .design-cards-container {
        padding: 0 var(--small-page-padding) 25px var(--small-page-padding);
    }
}

@media only screen and (max-width: 500px) {
.about-title {
    font-size: 2.5em;
}
}