/* If styling seems to be missing, check out
   DesignProjects.css file. */
#coding-projects-container {
    padding: 0 var(--default-page-padding) 50px var(--default-page-padding);
    position: relative;
}

#all-coding-projects {
    display: flex;
    flex-direction: row;
    max-width: var(--max-app-width);
    overflow-y: hidden;
    overflow-x: hidden;
}

.one-coding-project {
    /* Change the width */
    width: 441px;
    height: auto;
    position: relative;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.one-coding-project:hover .img-hover-zoom img{
    transform: scale(1.2);
}
/*------*/

.coding-project-img {
    width: 441px;
    height: 354px;
    border-radius: 4px;
    overflow: hidden;
    transition: transform .5s;
    object-fit: cover;
}

@media only screen and (max-width: 500px) {
    #all-coding-projects {
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 501px) {
    #all-coding-projects {
        overflow-x: hidden;
    }
}