:root {
    --next-previous-button-size: 46px;
}

#design-projects-container {
    padding: 0 var(--default-page-padding) 50px var(--default-page-padding);
    position: relative;
}

#all-projects {
    display: flex;
    flex-direction: row;
    max-width: var(--max-app-width);
    overflow-y: hidden;
    overflow-x: hidden;
}

.one-design-project {
    width: 354px;
    height: auto;
    position: relative;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.design-project-img {
    width: 354px;
    height: 354px;
    border-radius: 4px;
    overflow: hidden;
    transition: transform .5s;
}

.light-gray-text {
    color: var(--color-gray-font);
    line-height: 1.4;
    padding: 0 0 6px 0;
}

.project-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: row;
}

/*Select any img element that is a child of any
  element with a class name of “icons */
.icons img {
    padding-left: 7px;
}


/*.one-design-project changes on hover*/
.design-img-hover-zoom {
    height: 354px;
    overflow: hidden;
    border-radius: 4px;
}

.design-img-hover-zoom:hover img {
    transform: scale(1.2);
}

.one-design-project:hover .design-img-hover-zoom img{
    transform: scale(1.2);
}
/*------*/

.previous-button {
    position: absolute;
    z-index: 1;
    top: 205px;
    left: 35px;
    height: var(--next-previous-button-size);
    width: var(--next-previous-button-size);
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    opacity: 0;
}

.next-button {
    position: absolute;
    z-index: 1;
    top: 205px;
    right: 10px;
    height: var(--next-previous-button-size);
    width: var(--next-previous-button-size);
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 9px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    opacity: 0;
}

button:focus {
    outline: 0;
}

/*@media only screen and (max-width: 500px) {*/
/*    #all-projects {*/
/*        overflow-x: scroll;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 501px) {*/
/*    #all-projects {*/
/*        overflow-x: hidden;*/
/*    }*/
/*}*/