.projects-container {
    padding: 0 31px 50px 31px;
}

.all-projects {
    display: flex;
    flex-direction: row;
    max-width: var(--max-app-width);
    overflow-y: hidden;
    overflow-x: scroll;
}

.one-design-project {
    width: 354px;
    height: auto;
    position: relative;
    margin-right: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.design-project-img {
    width: 354px;
    height: 354px;
    border-radius: 4px;
    overflow: hidden;
    transition: transform .5s;
}

.light-gray-text {
    color: var(--color-gray-font);
    line-height: 1.4;
    padding: 0 0 6px 1px;
}

.project-description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    display: flex;
    flex-direction: row;
}

/*Select any img element that is a child of any
  element with a class name of “icons */
.icons img {
    padding-left: 7px;
}


/*.one-design-project changes on hover*/
.design-img-hover-zoom {
    height: 354px; /* Modify this according to your need */
    overflow: hidden;
    border-radius: 4px;
}

.design-img-hover-zoom:hover img {
    transform: scale(1.2);
}

.one-design-project:hover .design-img-hover-zoom img{
    transform: scale(1.2);
}
/*------*/