/*Read more on different font formats: https://www.w3schools.com/css/css3_fonts.asp#:~:text=OpenType%20Fonts%20(OTF),on%20the%20major%20computer%20platforms.*/
@font-face {
    font-family: 'Gilroy-Bold';
    src: url("Gilroy-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url("Gilroy-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono Medium';
    src: url("JetBrainsMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --dropdown-opacity-animation-delay: 170;
    --default-font: "Gilroy-Bold";
    --default-font-size: 1em;
    --max-app-width: 1434px;
    --letter-spacing: 0.4px;
    /*Colors*/
    --color-white: #FFFFFF;
    --color-gray-accent: #DFDFDF;
    --color-gray-darkest: #303030;
    --color-gray-font: #717171;
    --color-gray-hover-bckround: #EFEFEF;
}

/*----- Reset all the CSS styles -----*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: var(--default-font-size);
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: var(--default-font);
    color: var(--color-gray-darkest);
}

code, pre {
    /*font-family: var(--default-code-font);*/
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----  -----*/

body {
    max-width: var(--max-app-width);
    margin: 0 auto;
    font-size: var(--default-font-size);
}

html {
    overflow-y: scroll;
}

h1 {
    /*font-size: 3em;*/
    letter-spacing: var(--letter-spacing);
}

h2 {
    font-size: 1.5em;
    padding: 10px 0 18px 0;
    letter-spacing: var(--letter-spacing);
}

h3 {
    font-size: 3em;
    letter-spacing: var(--letter-spacing);
}

h4 {
    font-size: 1.3em;
    padding: 6px 0 4px 1px;
    letter-spacing: var(--letter-spacing);

}

p {
    font-family: "JetBrains Mono Medium";
    font-size: 0.85em;
}

/*Scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    border: 1px solid var(--color-gray-hover-bckround);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*border: 1px solid #C6C6C6;*/
    background: var(--color-gray-accent);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-accent);
}
