:root {
    --app-bar-height: 64px;
    --max-app-width: 1434px;
}

.logo {
    width: 50px;
    cursor: pointer;
}

.github-logo {
    width: 30px;
    cursor: pointer;
}

#app-bar {
    z-index: 1;
    display: flex;
    height: var(--app-bar-height);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-white);
    /*
      Hide the app bar on scroll.
      Stacking context: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
      */
    position: fixed;
    transition: top 0.3s;
    top: 0;
    width: 100%;
    max-width: var(--max-app-width);
    padding: 0 31px;
}

nav {
    display: flex;
    /*width: 250px;*/
    height: 100%;
    justify-content: space-between;
}

nav > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    cursor: pointer;
}

nav > *:hover {
    background-color: gold;
}

#designs-container:hover {
    cursor: pointer;
}


/* Dropdown*/
#designs-container {
}

#designs-dropdown-container {
    position: absolute;
    /*width: 386px;*/
    /*Set left property using myWindowSizeListener()*/
    top: 69px;
    margin-top: -3px;
    opacity: 0;
    visibility: hidden;
}

#code-container {

}

#code-dropdown-container {
    position: absolute;
    /*width: 200px !important;*/
    /*Set left property using myWindowSizeListener()*/
    top: 69px;
    margin-top: -3px;
    opacity: 0;
    visibility: hidden;
}

.center-the-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triangle {
    width: 60px;
    height: 21px;
    position: relative;
    overflow: hidden;
    top: -9px;
    z-index: 1;
}

/* Create shadow behind the triangle:
   https://gist.github.com/bohmanart/1686007*/
.triangle:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    top: 16px;
    left: 21px;
    background-color: var(--color-white);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    border: 1px solid var(--color-gray-accent);
}

.dropdown {
    display: flex;
    flex-direction: column;
    z-index: 0;
    width: 386px;
    margin-top: -10px;
    padding: 14px 0;
    background-color: var(--color-white);
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    border: 1px solid var(--color-gray-accent);
}

.dropdown > a {
    height: 50px;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown > a:hover {
    background-color: #EFEFEF;
}

.dropdown > a p {
    display: flex;
    align-self: center;
    color: #717171;
}

.app-logos-container {
    display: flex;
    align-self: center;
}

.app-logos-container > img {
   padding-left: 5px;
}

.code-dropdown-width {
    width: 240px;
}


/*Selected states*/
.nav-selected {
    border-bottom: 3px solid black;
    padding-top: 3px;
}


/*Add this to an dropdown element using JS */
/*Also swap the icons for darker icons*/
.dropdown-selected {
    /*border-top: 1px solid var(--color-gray-accent);*/
    /*border-bottom: 1px solid var(--color-gray-accent);*/
    border-left: 3px solid var(--color-gray-darkest);
}

.dropdown-selected p {
    font-size: 1.1em;
    color: var(--color-gray-darkest) !important;
    margin-left: -3px;
}
