/* Styles applying to all project pages */
.project-page-component-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: var(--distance-between-project-page-components) var(--default-page-padding) 0 var(--default-page-padding);
}

.project-page-component-container span {
    font-family: var(--secondary-font-bold);
}

.space-between-paragraphs {
    padding-bottom: 13px;
}

/* Bullet point design */
.bullet-point-container {
    display: flex;
    flex-direction: row;
}

.dash {
    padding-right: 10px;
}

/* Styling for requirements one off component*/
.requirements-columns-container {
    display: flex;
    flex-direction: row;
}

.col-one {
    flex-direction: column;
    width: 50%;
    margin-right: 40px;
}

.col-two {
    flex-direction: column;
    width: 50%;
}

.nested-dash {
    padding-left: 30px;
    padding-right: 10px;
}


/*-----------*/

@media only screen and (max-width: 600px) {
    .project-page-component-container {
        padding: var(--distance-between-project-page-components) var(--small-page-padding) 0 var(--small-page-padding);
    }

    .requirements-columns-container {
        display: flex;
        flex-direction: column;
    }

    .col-one {
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }

    .col-two {
        flex-direction: column;
        width: 100%;
    }
}


/**/

